<section class="historial-calificaciones">

  <header class="historial-calificaciones__encabezado">

    <div>

      <h3>
        {{ mensajes.CALIFICATION_HISTORY_TITLE }}
      </h3>

      <p>
        {{ mensajes.CALIFICATION_HISTORY_DESCRIPTION }}
      </p>

    </div>

  </header>

  @if (cargando) {

    <p class="estado">
      {{ mensajes.CALIFICATION_HISTORY_LOADING }}
    </p>

  } @else if (error) {

    <p class="error">
      {{ error }}
    </p>

  } @else if (datos.length > 1) {

    <div class="grafico">

      <svg
        [attr.viewBox]="
          '0 0 ' +
          anchoGrafico +
          ' ' +
          altoGrafico
        "
        role="img"
        [attr.aria-label]="mensajes.CALIFICATION_HISTORY_ARIA"
      >

        @for (
          nivel of niveles;
          track nivel
        ) {

          <line
            class="rejilla"
            [attr.x1]="margenIzquierdo"
            [attr.x2]="
              anchoGrafico -
              margenDerecho
            "
            [attr.y1]="obtenerY(nivel)"
            [attr.y2]="obtenerY(nivel)"
          />

          <text
            class="etiqueta-y"
            [attr.x]="
              margenIzquierdo - 12
            "
            [attr.y]="
              obtenerY(nivel) + 4
            "
            text-anchor="end"
          >
            {{ nivel }}
          </text>

        }

        <line
          class="eje"
          [attr.x1]="margenIzquierdo"
          [attr.x2]="margenIzquierdo"
          [attr.y1]="margenSuperior"
          [attr.y2]="
            altoGrafico -
            margenInferior
          "
        />

        <line
          class="eje"
          [attr.x1]="margenIzquierdo"
          [attr.x2]="
            anchoGrafico -
            margenDerecho
          "
          [attr.y1]="
            altoGrafico -
            margenInferior
          "
          [attr.y2]="
            altoGrafico -
            margenInferior
          "
        />

        <polyline
          class="linea dificultad"
          [attr.points]="
            obtenerPuntos('dificultad')
          "
        />

        <polyline
          class="linea carga"
          [attr.points]="
            obtenerPuntos('carga')
          "
        />

        <polyline
          class="linea conocimiento"
          [attr.points]="
            obtenerPuntos('conocimiento')
          "
        />

        @for (
          dato of datos;
          track dato.gestion;
          let indice = $index
        ) {

          <circle
            class="punto dificultad"
            [attr.cx]="obtenerX(indice)"
            [attr.cy]="
              obtenerY(
                dato.dificultad
              )
            "
            r="5"
          >
            <title>
              {{ dato.gestion }}
              -
              {{ mensajes.CALIFICATION_DIFFICULTY_LABEL }}:
              {{
                obtenerPromedioFormateado(
                  dato.dificultad
                )
              }}/10
            </title>
          </circle>

          <circle
            class="punto carga"
            [attr.cx]="obtenerX(indice)"
            [attr.cy]="
              obtenerY(
                dato.carga
              )
            "
            r="5"
          >
            <title>
              {{ dato.gestion }}
              -
              {{ mensajes.CALIFICATION_WORKLOAD_LABEL }}:
              {{
                obtenerPromedioFormateado(
                  dato.carga
                )
              }}/10
            </title>
          </circle>

          <circle
            class="punto conocimiento"
            [attr.cx]="obtenerX(indice)"
            [attr.cy]="
              obtenerY(
                dato.conocimiento
              )
            "
            r="5"
          >
            <title>
              {{ dato.gestion }}
              -
              {{ mensajes.CALIFICATION_PREVIOUS_KNOWLEDGE_LABEL }}:
              {{
                obtenerPromedioFormateado(
                  dato.conocimiento
                )
              }}/10
            </title>
          </circle>

          <text
            class="etiqueta-x"
            [attr.x]="obtenerX(indice)"
            [attr.y]="
              altoGrafico - 18
            "
            text-anchor="middle"
          >
            {{ dato.gestion }}
          </text>

        }

      </svg>

    </div>

    <div class="leyenda">

      <span>
        <i class="leyenda__linea dificultad"></i>
        {{ mensajes.CALIFICATION_DIFFICULTY_LABEL }}
      </span>

      <span>
        <i class="leyenda__linea carga"></i>
        {{ mensajes.CALIFICATION_WORKLOAD_LABEL }}
      </span>

      <span>
        <i class="leyenda__linea conocimiento"></i>
        {{ mensajes.CALIFICATION_PREVIOUS_KNOWLEDGE_LABEL }}
      </span>

    </div>

    <p class="historial-calificaciones__nota">
      {{ mensajes.CALIFICATION_HISTORY_NOTE }}
    </p>

  } @else {

    <p class="estado">
      {{ mensajes.CALIFICATION_HISTORY_EMPTY }}
    </p>

  }

</section>